.heading{
    font-size: 18px;
    color:#04537D;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.content{
    height: 75vh;
    overflow: auto;
}

.header{
    font-size: 18px;
    font-weight: bold;
    color:#04537D;
}