.row {
    padding: 18px 0;
}
.hd {
margin: 30px 0;
color: #ED6053
}

.applicant-name {
border: 1px solid grey;
height: 50px;
align-items: center;
display: flex;
padding: 12px;
/*font-weight: 600;*/
}

.status-header{
  background-color: #CDDDF4;
}
.applicant-name span {
 margin-left: 10px;
}

.user-info-pae-summary{
	/*background: #f4fcff;*/
	margin: 0 -45px;
    padding: 5px 45px;
    .row {
    	padding: 5px 0;
    }
}
.intake-container{
	padding: 45px;
	overflow-y: auto;
}
.seperator-mar{
	margin: 30px 0;
}

:host::ng-deep.mat-checkbox-layout{
white-space: normal !important;
}

:host::ng-deep.mat-checkbox-inner-container{
    margin-top: 4px;
}
.icon-text {
    display: flex;
    align-items: center;
}
.form-fill .list-group-item {
    padding: 0 10%;
    mat-icon {
    
    }
}
.seizures-header {
    color: #4D7E20;
    font-size: 20px;
    font-weight: bold;
}
.dashboard-card-header{
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 16px;
  color: #1B365C;
  background-color: #CDDDF4;
}

.dashboard-container{
  padding : 36px;
}

.dashboard-card{
  text-align: center;
  cursor: pointer;
}

.perlss-click-orange-button{
  background-color:#ED6053;
  color: white;
}
.dashboard-icon{
  color: #ED6053;
  font-size: 360px;
  display: inline;
  padding-top: 18px;
}

mat-card.dashboard-card{
  border-top-left-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  border-radius: 3.5px;
  border: 1px solid #174A7C;
  padding: 0;
  height: 100%;
}

mat-card-title.dashboard-card-header {
  padding: 7px;
  margin: 0;
}

mat-card-content {

  font-family: 'Open Sans';
  font-size: 13px;
  .row{
    padding: 18px;
    .col{
      .total-container{
        padding: 0;
        margin-top: 0.4vh;
        .total-pending-number{
          text-align: center;
          font-family: 'Open Sans';
          font-weight: 900;
          font-size: 13px;
          color: #1B365C;
          padding: .90px;
        }
      }
    }
  }
}

mat-card-actions{
  padding-top:  63px;
}


.pending-submission{
  padding-top: 72px;
}

mat-divider.dashboard-card-divider {
  border-color: #174A7C;
  border-top-width: 2px;
}

.dashboard-card-change-border-color {
  border:1.5px solid #FFA799;
}

.perlss-back-button {
  color: #174A7C !important;
  border-radius : 0 !important;
  outline: auto;
  outline-color: #174A7C !important;
    width: 100px;
}

.perlss-save-button {
  color: #174A7C !important;
  }

.submit-button.mat-flat-button.mat-button-base.mat-primary {
  border-radius: 0 !important;
  background-color: #174A7C !important;
  width: 100px;
}
h4 {
  font-size: 25px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding:  20px 0 5.5px 0;
  color: #547E1A;
  font-family: 'Open Sans';
  margin: 14.5px 0 9px 0;
}

.page-header-container{
  .row{
    .col-md-4{
    max-width: 100%;
    width: 100%;
    }
  }
}

.applicant-name-container{
    padding: 18px;
    vertical-align: middle;
    justify-content: center;
    font-size:  20px;
    border: 2px solid;
    border-color: #4D7E20;
    text-align: center;
}

.form-container{
  padding-top: 27px;
  .row {
    padding-bottom: 27px;
    .col-md-6{
      .is-activated{
        height: 72px;
        width: 70%;
        margin-top: 9px;
        margin-bottom: 9px;
        padding-left: 18px;
        text-align: left;
        border: solid 1px;
        border-color: #1B365C;
        .button-icon{
          float: right;
          margin-top: 9px;
          margin-bottom: 9px;
        }
      }

      .is-deactivated{
        width: 70%;
        height: 72px;
        padding-left: 18px;
        margin-top: 9px;
        margin-bottom: 9px;
        text-align: left;
        border: solid 1px;
        border-color: #1B365C;
        background-color:#1B365C;
        color: white;
        .button-icon{
          float: right;
          margin-top: 9px;
          margin-bottom: 9px;
          background-color: #1B365C;
          color: WHITE;
        }
      }
    }
  }
}



.button-container{
  padding-top: 5vh;
  .row{
    .col-md-2{
      text-align: left;
    }
    .col-md-4{
      text-align: left;
    }
    .col-md-6{
      text-align: right;
    }
    .perlss-click-button, .perlss-click-button-white-noborder, .perlss-click-button-white{
      font-size: 25px !important;
    }
  }
}

.required-color {
  color: #EE3524;
}


#skilledSummary, #serviceScore, #fileUpload {
  font-family: 'Open Sans';
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #35485b;
  padding: 18px;
  text-align: center;
  .left{
    text-align: left;
  }

}



#skilledSummary td, #skilledSummary th, #serviceScore td, #serviceScore th, #fileUpload td, #fileUpload th {
  padding: 18px;
  border-bottom: 0.5px solid #999999;
  .green{
    display: inline-flex;
    vertical-align: middle;
    color: rgb(47, 165, 0);
  }
  .red{
    display: inline-flex;
    vertical-align: middle;
    color: #f31e1e;
  }
  span{
    margin-left: 18px;
  }
}

#skilledSummary th, #serviceScore th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #CDDDF4;
  border-bottom: 1px solid #35485b;
}

#fileUpload th, #fileUpload tr {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #35485b;
}

.wide {
  width: 62.5%;
}

.wider {
  width: 80%;
}

.services-needed-container, .file-upload-container{
  padding-top: 36px;
}

.upload-icon{
  color:  rgb(76, 144, 211);
}
.textStyle{
  font-family: "Open Sans";;
    font-size: 18px;
    line-height: 23.5px;
    font-weight: 400;
    color: #0b0b0b;
}