.user-role-heading{
    color: #4D7E20;
    font-size: 22px;
    font-weight: bold;
    padding-top: 25px;
}

.accepted-heading{
    color: #4D7E20;
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;
}

.rejected-heading{
    color: #e00c3a;
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;
}

.updated-heading{
    color: #1B365D;
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;
}

.common{
    color: #4D7E20;
    font-weight: bold;
}

.inner-container {
    background-color: #f6faff;
    padding: 15px;
}

.label_name {
    font-weight: bold;
    color: black;
}

.first-person {
    padding-left: 40px;
}

.second-person {
    padding-left: 40px;
}

.submit {
    font-size: 16px;
    padding: 3px 25px;
    margin-top: 16px;
}

.text-align-right {
    flex: 1;
    text-align: right;
}

.create-manualtask-button{
    padding-top: 35px;
}

.perlss-continue-click-button{
    background-color: #174A7C !important;
    color: white !important;
    width: 20% !important;
    font-weight: bold !important;
}

.perlss-update-click-button-white{
    background-color: white !important;
    color: #174A7C !important;
    border: 1px solid #1B365D !important;
    width: 20% !important;
    font-weight: bold !important;
}