.address-heading {
    font-weight: bold;
    color: #4D7E20;
    font-size: 20px;
}

.address-label {
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

.address-card {
    margin-top: 30px;
}

.submit {
    font-size: 16px;
    padding: 3px 25px;
    margin-top: 16px;
}
.required{
    color: red;
}

div > .mat-form-field{
    width: 100%;
}