<div class="responsive">
    <div class="form">
      <div class="scroller">
        <app-change-management-common mode="revisePae">
          <form [formGroup]="">
            <div>
              <div >
                <button class="panelButtons" type="submit" mat-flat-button color="primary" class="perlss-click-button"
                  (click)="save()">PROCEED TO PAE</button>
              </div>
            </div>
          </form>
        </app-change-management-common>
      </div>
    </div>
  </div>