<mat-dialog-content>
<div class="row-header">
    <span class="col-lg-9 dialog-heading">
      Person Match
    </span>
    <span class="col-lg-3 text-right close-icon">
      <mat-icon (click)=close()>highlight_off</mat-icon>
    </span>
  </div>
  <mat-divider class="perlss-section-divider"></mat-divider>

  <div style="font-size: 12px;font-family: 'Open Sans';margin-left: 30px">
    <p>Based on the information provided, you cannot continue with submitting this referral.<br>Please call your MCO or service provider for next steps.</p>

    <div style="padding-bottom: 20px;">  
       <div>For additional information, please visit the link below:</div>
       <a href="#">https://www.tn.gov/tenncare/long-term-services-supports/how-to-apply.html</a>
  </div>

    <p>For contact information, please refer below:</p>

    <div class= dialog-sub-heading>TennCare’s Main Line:</div>
    <div>1-800-342-3145</div>
    <mat-divider class="section-divider"></mat-divider>
  <div>
      <div class= dialog-sub-heading>LTSS Help Desk:</div>
      <p>Questions regarding the Pre-Admission Evaluation (PAE) and Medical Eligibility should be<br>directed here.</p>
      <div>1-877-224-0219</div>
  </div>
  <mat-divider class="section-divider"></mat-divider>
  <div>
    <div class= dialog-sub-heading>TennCare Connect:</div>
    <p>Questions regarding Medicaid Financial Eligibility should be directed here.
    </p>
    <div>855-259-0701</div>
  </div>
  <mat-divider class="section-divider"></mat-divider>
  <div>
    <div class= dialog-sub-heading>MCO:</div>
    <p>Managed Care Organizations (MCOs) can help members apply for Long Term Services and Supports (LTSS) <br>programs or answer questions about current benefits and services.</p>
    <table>
        <tr style="line-height: 0px;">
            <td>Amerigroup:</td>
            <td>866-840-4991</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>BlueCare:</td>
            <td>888-747-8955</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>UnitedHealthcare:</td>
            <td>800-690-1606</td>
        </tr>
    </table>
  </div>
  <mat-divider class="section-divider"></mat-divider>
  <div>
    <div class= dialog-sub-heading>Ascend Help Desk:</div>
    <p>Questions regarding the Pre-Admission Screening and Resident Review (PASRR) process <br>should be directed here.
    </p>
    <div>833-617-2777</div>
  </div>
  <mat-divider class="section-divider"></mat-divider>
  <div>
    <div class= dialog-sub-heading>PACE:</div>
    <p>The Program of All-Inclusive Care for the Elderly (PACE) provides comprehensive medical <br>and social services to certain frail, community-dwelling elderly individuals, most of whom are <br>dually eligible for Medicare and Medicaid benefits.<br>Questions regarding PACE should be directed here.
    </p>
    <div>423-698-0802</div>
  </div>
  <mat-divider class="section-divider"></mat-divider>
  <div>
    <div class= dialog-sub-heading>AAADs:</div>
    <p>Your local Area Agency on Aging and Disability (AAAD) can provide information <br>and assistance to apply for the CHOICES program.
    </p>
    <table>
        <tr style="line-height: 0px;">
            <td>First Tennessee:</td>
            <td>1-866-836-6678</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>Northwest TN:</td>
            <td>1-866-836-6678</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>South Central TN:</td>
            <td>1-866-836-6678</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>Upper Cumberland:</td>
            <td>1-931-476-4158</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>Southwest TN:</td>
            <td>1-731-668-6967</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>East Tennessee:</td>
            <td>1-866-836-6678</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>Mid-South TN:</td>
            <td>1-866-836-6678</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>Greater Nashville:</td>
            <td>1-615-255-1010</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>Southeast TN:</td>
            <td>1-866-836-6678</td>
        </tr>
    </table>
  </div>
  <mat-divider class="section-divider"></mat-divider>
  <div>
    <div class= dialog-sub-heading>DIDD:</div>
    <p>Department of Intellectual and Developmental Disabilities (DIDD) can provide information and <br>assistance to apply for Employment & Community First CHOICES and the 1915(c) HCBS Waivers.
    </p>
    <table>
        <tr style="line-height: 0px;">
            <td>West Region:</td>
            <td>866-372-5709</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>Middle Region:</td>
            <td>800-654-4839</td>
        </tr>
        <tr style="line-height: 0px;">
            <td>East Region:</td>
            <td>888-531-9876</td>
        </tr>
    </table>
  </div>
  </div>
</mat-dialog-content>