<div class="applicantName" style="margin: 21px 60px 9px 46px;">{{applicantName}}</div>
  <div class= "pageMarginContainer">
    <div class="scroller">
  <h3 class="Summary">Summary</h3>
  <p><span class="textStyle">Please make sure to provide the details for each section below. If you
    have supporting documentation, select the cloud icon to upload the documents.</span></p>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="status-header">
        Prioritization Summary
      </th>
      <td mat-cell *matCellDef="let sds" class="usrActions"><span class="textStyle">{{sds.name}}</span></td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="status-header">
        <div class="iconTextContainer">Status</div>
      </th>
      <td mat-cell *matCellDef="let sds" class="usrActions">
        <!--  <mat-icon class="red">{{sds.icon}}</mat-icon>-->
        {{sds.status}}
        <div class="iconTextContainer">
          <div *ngIf="sds.status === 'Complete'">
            <mat-icon class="green">check</mat-icon>Complete
          </div>
          <div *ngIf="sds.status !== 'Complete'">
            <mat-icon class="red">close</mat-icon>Incomplete
          </div>
       </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="userActions">
      <th mat-header-cell *matHeaderCellDef class="status-header">
        <div class="iconTextContainer">User Actions</div>
      </th>
      <td mat-cell *matCellDef="let sds" class="usrActions">
        <div class="iconTextContainer gotoDetailsLink" (click)="gotoDetails(sds.name)">{{sds.userActions}}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="note">
    <div>
      <label>
        <mat-icon>stars</mat-icon>&nbsp;NOTE:</label>
      <p>This is not part of LOC Determination, this is specific to Prioritization.</p>
    </div>
  </div>

  <div class="buttonBar">
    <button mat-flat-button color="primary" class="perlss-click-button-white" (click)="back()">BACK</button>
    <button mat-flat-button color="primary" class="perlss-click-button-white-noborder" (click)="saveAndExit()">SAVE
      AND EXIT</button>
    <button mat-flat-button color="primary" class="perlss-click-button" (click)="nextClicked()">NEXT</button>
  </div>
</div></div>