
.content-wrapper{
    margin-top: 20px;
}

::ng-deep .mat-form-field {
    font-size: 12px;
    width: 100%;
}

.flex-wrapper{
    display: flex;
    margin-top: 10px;
}

.flex-wrapper div{
    width: 50%;
    margin: 0 10px;
}

.custom-button{
    background-color: #174A7C;
    color: white;
  }

  ::ng-deep .toast-message{
      color: white;
      font-size: 16px;
  }

  .required{
    color: red;
}
