div.medicalDetails {

    .control {
        width: 360px !important;
        margin-bottom: 0;
    }

    .textArea {
        width: calc(100% - 290px);
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}
.mattoolip-icon{
    color: red;
    text-indent: 4px;
    }

.mat-icon{
    margin-top: 0 !important;
}
.border-less{
    color: #174a7c;
  }