<div id="footer">
  <hr class=perlss-horizontal-divider>
  <div id="footer-top">
    <div class="row">
      <div class="col">
      </div>
      <div class="col text-right">
      </div>
    </div>
    <a>
      <img class="perlss-footer-starball" alt="starball" src="../../../assets/images/footer-starball.png" (click)="showError()">
    </a>
  </div>
  <div id="footer-bot">
    <div class="row">
      <div class="col">

        <a href="https://www.tn.gov" target="_blank" rel="noopener noreferrer">TN.gov</a>

        <a href="https://www.tn.gov/state-services.html" target="_blank" rel="noopener noreferrer">TN.gov Services</a>

        <a href="https://www.tn.gov/directory.html" target="_blank" rel="noopener noreferrer">TN.gov Directory</a>

        <a href="https://www.tn.gov/tenncare.html" target="_blank" rel="noopener noreferrer">TN.Gov TennCare</a>

        <a href="https://www.tn.gov/tenncare/long-term-services-supports.html" target="_blank" rel="noopener noreferrer">TN.Gov LTSS</a>

      </div>
      <div class="col text-right">
        <a href="https://www.tn.gov/transparenttn.html" target="_blank" rel="noopener noreferrer">Transparent TN</a>

        <a href="https://www.facebook.com/TennCare/" target="_blank"
          rel="noopener noreferrer">TennCare Facebook</a>

        <a href="https://www.instagram.com/tenncarerep/?hl=en" target="_blank"
        rel="noopener noreferrer">TennCare Instagram</a>

        <a href="https://www.tn.gov/humanrights/file-a-discrimination-complaint/title-vi1/title-vi-disclaimer.html"
          target="_blank" rel="noopener noreferrer">Title VI</a>
          
        <a href="https://www.tn.gov/help.html" target="_blank" rel="noopener noreferrer">Help &amp; Contact</a>

      </div>
    </div>
  </div>
</div>
