

@import '../../../colors.scss';

.search-table-container {
    margin-top: 36px;
  }

  
  .font{
    font-weight: 100;
  }
  .expansionPanel{
    border: 1px solid #9bb972;
  }
 
 
  
  
 
 
  
    
