.required-color {
    color: #f44336;
  }

.dropdown-content {
  padding-top: 35px;
}


.text-area{
  margin-top: 15px;
}
.character-count{
  float: right;
}

::ng-deep .matform-custom{
  padding: 0 2px !important;
}

th{
  width: 20%;
}

.table-column-top {
  padding-top: 10px;
}
.alert-container-note{
  margin-top: 36px;
  padding: 36px;
  border: 2px solid #81b889;

}

