.tableContainer {
  margin-left: 60px;
  margin-right: 60px;
}

.mat-table {
  width: 100%;
  border: 1px solid rgb(129, 125, 125);
}

.status-header {
  padding-left: 35px;
  font-weight: bold;
  font-size: 16px;
}

.iconTextContainer {
  position: relative;
}

.statusText {
  position: absolute;
  padding-top: 2px;
}

.usrActions {
  padding-left: 30px;
}

.perlss-section-divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

.statHeader {
  font-weight: bold;
  font-size: large;
}

.blue {
  cursor: pointer;
  color: #4c90d3;
}

.file_upload {
  position: relative;
  overflow: hidden;
}

.file_upload_input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.image-upload>input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}

.close_icon {
  color: black;
  cursor: pointer;
}

.mat-header-row {
  border-bottom: 1px solid #35485b;
}

.mat-header-cell {
  color: black !important;
}

.mat-icon {
  font-size: 35px !important;

}
.textStyle{
  font-family: "Open Sans";;
    font-size: 18px;
    line-height: 23.5px;
    font-weight: 400;
    color: #0b0b0b;
}
