<div class="responsive" id="pM">
  <form [formGroup]="paeApplicantForm">
    <div class="scroller">

      <div class="floatChildren">
        <div class="w30">
          <mat-form-field appearance="outline">
            <mat-label class="req">First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="First Name">
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.firstName.errors?.maxlength && (getFormData.firstName.touched || getFormData.firstName.dirty)">
            {{customValidation.maxLen45}}</mat-error>
          <mat-error
            *ngIf="getFormData.firstName.errors?.required && (getFormData.firstName.touched || getFormData.firstName.dirty)">
            {{customValidation.A1}}</mat-error>
          <mat-error
            *ngIf="getFormData.firstName.errors?.invalidName && (getFormData.firstName.touched || getFormData.firstName.dirty)">
            {{customValidation.A2}}
          </mat-error>
        </div>
        <div class=w20>
          <mat-form-field appearance="outline">
            <mat-label>MI</mat-label>
            <input matInput formControlName="midInitial" placeholder="MI" mask="S">
          </mat-form-field>
        </div>
        <div class="w30">
          <mat-form-field appearance="outline">
            <mat-label class="req">Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="Last Name">
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.lastName.errors?.maxlength && (getFormData.lastName.touched || getFormData.lastName.dirty)">
            {{customValidation.maxLen45}}</mat-error>
          <mat-error
            *ngIf="getFormData.lastName.errors?.required && (getFormData.lastName.touched || getFormData.lastName.dirty)">
            {{customValidation.A1}}</mat-error>
          <mat-error
            *ngIf="getFormData.lastName.errors?.invalidName && (getFormData.lastName.touched || getFormData.lastName.dirty)">
            {{customValidation.A2}}
          </mat-error>
        </div>
        <div class="w20">

          <mat-form-field appearance="outline">
            <mat-label>Suffix</mat-label>
            <mat-select formControlName="suffix" aria-placeholder="Select an option">
              <mat-option value="Jr">Jr</mat-option>
              <mat-option value="Sr">Sr</mat-option>
              <mat-option value="III">III</mat-option>
              <mat-option value="IV">IV</mat-option>
              <mat-option value="V">V</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="floatChildren">
        <div class="w40">
          <mat-form-field appearance="outline">
            <mat-label class="req">Date Of Birth</mat-label>
            <input matInput readonly [matDatepicker]="picker" formControlName="dobDt" [min]="minDate" [max]="startDate ? startDate: maxDate"
              (dateChange)="calculateAge($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [startAt]="startDate" #picker></mat-datepicker>
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.dobDt.errors?.required && (getFormData.dobDt.touched || getFormData.dobDt.dirty)">
            {{customValidation.A1}}
          </mat-error>
          <mat-error
            *ngIf="getFormData.dobDt.errors?.matDatepickerMax && (getFormData.dobDt.touched || getFormData.dobDt.dirty)">
            {{customValidation.A5}}</mat-error>
          <mat-error
            *ngIf="getFormData.dobDt.errors?.matDatepickerMin && (getFormData.dobDt.touched || getFormData.dobDt.dirty)">
            {{customValidation.A6}}
          </mat-error>
          <mat-label *ngIf="age!=null"><b>Age:</b> {{age}} years {{month}} months</mat-label>
        </div>

        <div class="w20">

          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="genderCd">
              <mat-option *ngFor="let gender of genderCd" [value]="gender.code">
                {{gender.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="w40">

          <mat-form-field appearance="outline">
            <mat-label class="req">Social Security Number</mat-label>
            <input matInput formControlName="ssn" placeholder="xxx-xx-xxxx" mask="000-00-0000"
              (keyup)="ssnChange($event)">
          </mat-form-field>
          <mat-checkbox formControlName="ssnAvailableSw" (change)="onSsnAvailableChange($event)">
            Select if SSN is not available
          </mat-checkbox>
          <mat-error *ngIf="getFormData.ssn.errors !== null">
            <span *ngIf="getFormData.ssn.errors?.invalid">{{customValidation.A4}}</span>
            <span *ngIf="getFormData.ssn.errors.required && (getFormData.ssn.touched || submitted)">
              {{customValidation.A1}}
            </span>
            <span *ngIf="getFormData.ssn.errors?.invalidSSN && !getFormData.ssn.errors.required">
              SSN is invalid
            </span>
          </mat-error>
        </div>
      </div>

      <div class="control">
        <mat-radio-group formControlName="aliasNameSw" (change)="onAlternateNameChange($event)">
          <mat-label class="req">Does the applicant go by another name?</mat-label>
          <div *ngIf="getFormData.aliasNameSw.errors?.required && (getFormData.aliasNameSw.touched || submitted)"
            class="error">
            <mat-error>{{customValidation.A1}}</mat-error>
          </div>
          <mat-radio-button value="Y">Yes</mat-radio-button>
          <mat-radio-button value="N">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="floatChildren" *ngIf=alternateNameSW>
        <div class="w30">
          <mat-form-field appearance="outline">
            <mat-label>Alias First Name</mat-label>
            <input matInput formControlName="aliasFirstName" placeholder="Alias First Name">
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.aliasFirstName.errors?.maxlength && (getFormData.aliasFirstName.touched || getFormData.aliasFirstName.dirty)">
            {{customValidation.maxLen45}}</mat-error>
          <mat-error
            *ngIf="getFormData.aliasFirstName.errors?.required && (getFormData.aliasFirstName.touched || getFormData.aliasFirstName.dirty)">
            {{customValidation.A1}}</mat-error>
          <mat-error
            *ngIf="getFormData.aliasFirstName.errors?.invalidName && (getFormData.aliasFirstName.touched || getFormData.aliasFirstName.dirty)">
            {{customValidation.A2}}
          </mat-error>
        </div>

        <div class="w20">
          <mat-form-field appearance="outline">
            <mat-label>MI</mat-label>
            <input matInput formControlName="aliasMidInitial" placeholder="MI" mask="S">
          </mat-form-field>
        </div>

        <div class="w30">
          <mat-form-field appearance="outline">
            <mat-label>Alias Last Name</mat-label>
            <input matInput formControlName="aliasLastName" placeholder="Alias Last Name">
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.aliasLastName.errors?.maxlength && (getFormData.aliasLastName.touched || getFormData.aliasLastName.dirty)">
            {{customValidation.maxLen45}}</mat-error>
          <mat-error
            *ngIf="getFormData.aliasLastName.errors?.required && (getFormData.aliasLastName.touched || getFormData.aliasLastName.dirty)">
            {{customValidation.A1}}</mat-error>
          <mat-error
            *ngIf="getFormData.aliasLastName.errors?.invalidName && (getFormData.aliasLastName.touched || getFormData.aliasLastName.dirty)">
            {{customValidation.A2}}
          </mat-error>
        </div>
        <div class="w20">
          <mat-form-field appearance="outline">
            <mat-label>Suffix</mat-label>
            <mat-select formControlName="aliasSuffix" aria-placeholder="Select an option">
              <mat-option value="Jr">Jr</mat-option>
              <mat-option value="Sr">Sr</mat-option>
              <mat-option value="III">III</mat-option>
              <mat-option value="IV">IV</mat-option>
              <mat-option value="V">V</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <hr>

      <h2>Physical Address</h2>
      <p class="subHead">Tell us the address where the applicant lives.</p>

      <div class="floatChildren">
        <div class="w50">
          <mat-form-field appearance="outline">
            <mat-label class="req">Address Format</mat-label>
            <mat-select formControlName="addrFormatCd" (selectionChange)="onAddressFormat($event)">
              <mat-option value="USAD">US Address</mat-option>
              <mat-option value="MLTY">Military Address</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="floatChildren">
        <div class="w50">
          <mat-form-field appearance="outline">
            <mat-label class="req">Address Line 1</mat-label>
            <input matInput formControlName="addrLine1" placeholder="Address Line 1" />
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.addrLine1.errors?.maxlength && (getFormData.addrLine1.touched || getFormData.addrLine1.dirty)">
            {{customValidation.maxLen100}}</mat-error>
          <mat-error
            *ngIf="getFormData.addrLine1.errors?.required && (getFormData.addrLine1.touched || getFormData.addrLine1.dirty)">
            {{customValidation.A1}}</mat-error>
          <mat-error
            *ngIf="getFormData.addrLine1.errors?.invalid && (getFormData.addrLine1.touched || getFormData.addrLine1.dirty)">
            {{customValidation.A2}}
          </mat-error>
        </div>
        <div class="w50">
          <mat-form-field appearance="outline">
            <mat-label>Address Line 2</mat-label>
            <input matInput formControlName="addrLine2" placeholder="Address Line 2">
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.addrLine2.errors?.maxlength && (getFormData.addrLine2.touched || getFormData.addrLine2.dirty)">
            {{customValidation.maxLen50}}</mat-error>
          <mat-error
            *ngIf="getFormData.addrLine2.errors?.invalid && (getFormData.addrLine2.touched || getFormData.addrLine2.dirty)">
            {{customValidation.A2}}
          </mat-error>
        </div>
      </div>

      <div class="floatChildren">
        <div class="w50" *ngIf=!addrFormatSW>
          <mat-form-field appearance="outline">
            <mat-label class="req">City</mat-label>
            <input matInput formControlName="city" placeholder="City">
          </mat-form-field>
          <mat-error *ngIf="getFormData.city.errors?.maxlength && (getFormData.city.touched || getFormData.city.dirty)">
            Cannot exceed 25 characters</mat-error>
          <mat-error *ngIf="getFormData.city.errors?.required && (getFormData.city.touched || getFormData.city.dirty)">
            {{customValidation.A1}}</mat-error>
          <mat-error *ngIf="getFormData.city.errors?.invalid && (getFormData.city.touched || getFormData.city.dirty)">
            {{customValidation.A2}}
          </mat-error>
        </div>
        <div class="w50" *ngIf=!addrFormatSW>
          <mat-form-field appearance="outline">
            <mat-label class="req">State</mat-label>
            <mat-select matNativeControl formControlName="stateCd" (selectionChange)="trackState($event)">
              <mat-option *ngFor="let state of stateList" [value]="state.code">
                {{state.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.stateCd.errors !== null && (getFormData.stateCd.touched || getFormData.stateCd.dirty) && getFormData.stateCd.errors?.required">
            {{customValidation.A1}}
          </mat-error>
        </div>
      </div>

      <div class="floatChildren">
        <div class="w25">
          <mat-form-field appearance="outline">
            <mat-label class="req">Zip Code</mat-label>
            <input matInput formControlName="zip" placeholder="Zip Code" mask="99999">
          </mat-form-field>
          <mat-error *ngIf="getFormData.zip.errors?.required && (getFormData.zip.touched || getFormData.zip.dirty)">
            {{customValidation.A1}}</mat-error>
          <mat-error *ngIf="getFormData.zip.errors?.pattern && (getFormData.zip.touched || getFormData.zip.dirty)">
            {{customValidation.A7}}</mat-error>
          <mat-error *ngIf="getFormData.zip.errors?.invalid && (getFormData.zip.touched || getFormData.zip.dirty)">
            {{customValidation.A2}}
          </mat-error>
        </div>
        <div class="w25">
          <mat-form-field appearance="outline">
            <mat-label>Ext</mat-label>
            <input matInput formControlName="zipExtn" placeholder="Ext" mask="9999" maxlength="4" minlength="4">
          </mat-form-field>
          <mat-error
            *ngIf="(getFormData.zipExtn.errors?.pattern || getFormData.zipExtn.errors?.invalid) && (getFormData.zipExtn.touched || getFormData.zipExtn.dirty)">
            Extension must be 4 digits.
          </mat-error>
        </div>
        <div class="w50" *ngIf=!addrFormatSW>
          <mat-form-field appearance="outline" *ngIf="isTN">
            <mat-label class="req">County</mat-label>
            <mat-select matNativeControl formControlName="cntyCd">
              <mat-option *ngFor="let county of countyList" [value]="county.code">
                {{county.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="getFormData.cntyCd.errors?.required && (getFormData.cntyCd.touched || getFormData.cntyCd.dirty)">
            {{customValidation.A1}}
          </mat-error>
        </div>
      </div>

      <div class="floatChildren" *ngIf=addrFormatSW>
        <div class="w40">
          <mat-form-field appearance="outline">
            <mat-label class="req">APO / FPO</mat-label>
            <mat-select formControlName="militaryPoCd">
              <mat-option value="APO">APO - Air / Army Post Office</mat-option>
              <mat-option value="FPO">FPO- Fleet Post Office</mat-option>
            </mat-select>

          </mat-form-field>
          <mat-error
            *ngIf="getFormData.militaryPoCd.errors !== null && (getFormData.militaryPoCd.touched || submitted) && getFormData.militaryPoCd.errors.required">
            {{customValidation.A1}}</mat-error>
        </div>
      </div>

      <div class="floatChildren" *ngIf=addrFormatSW>
        <div class="w40">
          <mat-form-field appearance="outline">
            <mat-label class="req">AA / AE / AP</mat-label>
            <mat-select formControlName="militaryStateCd">
              <mat-option *ngFor="let miltarytStatus of Miltary_statusRt" [value]="miltarytStatus.code">
                {{miltarytStatus.value}}
              </mat-option>
            </mat-select>

          </mat-form-field>
          <mat-error
            *ngIf="getFormData.militaryStateCd.errors !== null && (getFormData.militaryStateCd.touched || submitted) && getFormData.militaryStateCd.errors.required">
            {{customValidation.A1}}</mat-error>
        </div>
      </div>

      <button mat-flat-button color="primary" class="perlss-click-button" (click)='validateAddress()'>VALIDATE
        ADDRESS</button>

      <hr>

      <h2>Mailing Address</h2>

      <mat-radio-group (change)="onMailAddrChange($event)" formControlName="mailAddrSw">
        <mat-label>Is applicant's mailing address the same as the physical address?</mat-label>
        <mat-radio-button value="Y">Yes</mat-radio-button>
        <mat-radio-button value="N">No</mat-radio-button>
      </mat-radio-group>

      <div *ngIf=!mailAddrSW>
        <div class="floatChildren">
          <div class="w40">
            <mat-form-field appearance="outline">
              <mat-label class="req">Address Format</mat-label>
              <mat-select formControlName="mailAddressFormatCd" (selectionChange)="onMailAddressFormat($event)">
                <mat-option value="USAD">US Address</mat-option>
                <mat-option value="MLTY">Military Address</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="floatChildren">
          <div class="w40">
            <mat-form-field appearance="outline">
              <mat-label class="req">Address Line 1</mat-label>
              <input matInput formControlName="mailAddrLine1" placeholder="Address Line 1">
            </mat-form-field>
            <mat-error
              *ngIf="getFormData.mailAddrLine1.errors?.maxlength && (getFormData.mailAddrLine1.touched || getFormData.mailAddrLine1.dirty)">
              {{customValidation.maxLen100}}</mat-error>
            <mat-error
              *ngIf="getFormData.mailAddrLine1.errors?.required && (getFormData.mailAddrLine1.touched || getFormData.mailAddrLine1.dirty)">
              {{customValidation.A1}}</mat-error>
            <mat-error
              *ngIf="getFormData.mailAddrLine1.errors?.invalid && (getFormData.mailAddrLine1.touched || getFormData.mailAddrLine1.dirty)">
              {{customValidation.A2}}
            </mat-error>
          </div>
          <div class="w40">
            <mat-form-field appearance="outline">
              <mat-label>Address Line 2</mat-label>
              <input matInput formControlName="mailAddrLine2" placeholder="Address Line 2">
            </mat-form-field>
            <mat-error
              *ngIf="getFormData.mailAddrLine2.errors?.maxlength && (getFormData.mailAddrLine2.touched || getFormData.mailAddrLine2.dirty)">
              {{customValidation.maxLen50}}</mat-error>
            <mat-error
              *ngIf="getFormData.mailAddrLine2.errors?.invalid && (getFormData.mailAddrLine2.touched || getFormData.mailAddrLine2.dirty)">
              {{customValidation.A2}}
            </mat-error>
          </div>
        </div>

        <div class="floatChildren">
          <div class="w40" *ngIf=!mailAddrFormatSW>
            <mat-form-field appearance="outline">
              <mat-label class="req">City</mat-label>
              <input matInput formControlName="mailCity" placeholder="City">
            </mat-form-field>
            <mat-error
              *ngIf="getFormData.mailCity.errors?.maxlength && (getFormData.mailCity.touched || getFormData.mailCity.dirty)">
              Cannot exceed 25 characters</mat-error>
            <mat-error
              *ngIf="getFormData.mailCity.errors?.required && (getFormData.mailCity.touched || getFormData.mailCity.dirty)">
              {{customValidation.A1}}</mat-error>
            <mat-error
              *ngIf="getFormData.mailCity.errors?.invalid && (getFormData.mailCity.touched || getFormData.mailCity.dirty)">
              {{customValidation.A2}}
            </mat-error>
          </div>
          <div class="w40" *ngIf=!mailAddrFormatSW>
            <mat-form-field appearance="outline">
              <mat-label class="req">State</mat-label>
              <mat-select formControlName="mailState" (selectionChange)="trackStateAlt($event)">
                <mat-option *ngFor="let state of stateList" [value]="state.code">
                  {{state.value}}</mat-option>
              </mat-select>
              <mat-error *ngIf="getFormData.mailState.errors !== null">
                <mat-error
                  *ngIf="(getFormData.mailState.touched || getFormData.mailState.dirty) && getFormData.mailState.errors?.required">
                  {{customValidation.A1}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="floatChildren">
          <div class="w20">
            <mat-form-field appearance="outline">
              <mat-label class="req">Zip Code</mat-label>
              <input matInput formControlName="mailZip" placeholder="Zip Code">
            </mat-form-field>
            <mat-error
              *ngIf="getFormData.mailZip.errors?.required && (getFormData.mailZip.touched || getFormData.mailZip.dirty)">
              {{customValidation.A1}}</mat-error>
            <mat-error
              *ngIf="getFormData.mailZip.errors?.pattern && (getFormData.mailZip.touched || getFormData.mailZip.dirty)">
              {{customValidation.A7}}</mat-error>
            <mat-error
              *ngIf="getFormData.mailZip.errors?.invalid && (getFormData.mailZip.touched || getFormData.mailZip.dirty)">
              {{customValidation.A2}}
            </mat-error>
          </div>
          <div class="w20">
            <mat-form-field appearance="outline">
              <mat-label>Ext</mat-label>
              <input matInput formControlName="mailZipExtn" placeholder="Ext" mask="9999" maxlength="4" minlength="4">
            </mat-form-field>
            <mat-error
              *ngIf="(getFormData.mailZipExtn.errors?.pattern || getFormData.mailZipExtn.errors?.invalid) && (getFormData.mailZipExtn.touched || getFormData.mailZipExtn.dirty)">
              Extension must be 4 digits.
            </mat-error>
          </div>
          <div class="w40" *ngIf=!mailAddrFormatSW>
            <mat-form-field appearance="outline" *ngIf="isTN2">
              <mat-label class="req">County</mat-label>
              <mat-select matNativeControl formControlName="mailCounty">
                <mat-option *ngFor="let county of countyList" [value]="county.code">
                  {{county.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error
              *ngIf="getFormData.mailCounty.errors?.required && (getFormData.mailCounty.touched || getFormData.mailCounty.dirty)">
              {{customValidation.A1}}
            </mat-error>
          </div>
        </div>
      </div>


      <div class="floatChildren" *ngIf=mailAddrFormatSW>
        <div class="w40">
          <mat-form-field appearance="outline">
            <mat-label class="req">APO / FPO</mat-label>
            <mat-select formControlName="mailMilitaryPoCd">
              <mat-option value="APO">APO - Air / Army Post Office</mat-option>
              <mat-option value="FPO">FPO- Fleet Post Office</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="getFormData.mailMilitaryPoCd.errors !== null">
            <mat-error
              *ngIf="(getFormData.mailMilitaryPoCd.touched || submitted) && getFormData.mailMilitaryPoCd.errors.required">
              {{customValidation.A1}}</mat-error>
          </mat-error>
        </div>
      </div>

      <div class="floatChildren" *ngIf=mailAddrFormatSW>
        <div class="w40">
          <mat-form-field appearance="outline">
            <mat-label class="req">AA / AE / AP</mat-label>
            <mat-select formControlName="mailMilitaryStateCd">
              <!-- <mat-option value="">None</mat-option> -->
              <mat-option *ngFor="let miltarytStatus of Miltary_statusRt" [value]="miltarytStatus.code">
                {{miltarytStatus.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="getFormData.mailMilitaryStateCd.errors !== null">
              <mat-error
                *ngIf="(getFormData.mailMilitaryStateCd.touched || submitted) && getFormData.mailMilitaryStateCd.errors.required">
                {{customValidation.A1}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <button *ngIf="!mailAddrSW" mat-flat-button color="primary" style="margin: 20px 20px"class="perlss-click-button" (click)="validateMailAddress()">VALIDATE
        ADDRESS</button>

      <button *ngIf="showSearchBtn && !hideSearchPerson" [disabled]="!paeApplicantForm.valid" type="button" mat-flat-button color="primary" class="perlss-click-button-white chkWidth"
        (click)="searchPerson()">SEARCH FOR THE PERSON</button>

      <div *ngIf="isSearchPerson" class="mat-elevation-z8 searchPersonTable" >
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" multiTemplateDataRows
            class="mat-elevation-z8 mat-elevation-z8-boarder">

            <ng-container matColumnDef="personName">
              <th id="personName" mat-header-cell class="table-row-header" *matHeaderCellDef> Person Name </th>
              <td mat-cell class="tdStyle" *matCellDef="let element"> {{element.firstName}}
                {{element.midInitial}} {{element.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="ssn">
              <th id="ssn" mat-header-cell class="table-row-header" *matHeaderCellDef> SSN </th>
              <td mat-cell class="tdStyle" *matCellDef="let element"> {{element.ssn}} </td>
            </ng-container>

            <ng-container matColumnDef="birthDate">
              <th id="dateOfBirth" mat-header-cell class="table-row-header" *matHeaderCellDef> Date of Birth </th>
              <td mat-cell class="tdStyle" *matCellDef="let element">
                <div>{{element.dobDt | date:'MM/dd/yyyy'}}</div>
                <div *ngIf="(element.dobDt === ''
                || element.dobDt === undefined
                || element.dobDt === null)">---
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="personID">
              <th id="personId" mat-header-cell class="table-row-header" *matHeaderCellDef> Person ID </th>
              <td mat-cell class="tdStyle" *matCellDef="let element"> {{element.prsnId}} </td>
            </ng-container>

            <ng-container matColumnDef="county">
              <th id="county" mat-header-cell class="table-row-header" *matHeaderCellDef> County </th>
              <td mat-cell class="tdStyle" *matCellDef="let element">
                <div>{{countyMap.get(element.addressVO.cntyCd)}}</div>
                <div
                  *ngIf="(countyMap.get(element.addressVO.cntyCd) === '' || countyMap.get(element.addressVO.cntyCd) === undefined)">
                  ---</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td id="length" mat-cell *matCellDef="let element" [attr.colspan]="refSearchPerson.length">
                <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <table>
                    <tr>
                      <td>
                        <div class="example-element-description">
                          <mat-label>Alias Name</mat-label>
                          <br>
                          {{element.aliasFirstName}} {{element.aliasMidInitial}} {{element.aliasLastName}}
                          <div *ngIf="(element.aliasFirstName === ''
                          || element.assignedUserId === undefined
                          || element.assignedUserId === null )">---
                          </div>

                        </div>
                      </td>
                      <td>
                        <div class="example-element-description">
                          <mat-label> Physical Address </mat-label>
                          <br>
                          {{element.addressVO.addrLine1}} {{element.addressVO.addrLine2}}
                          {{element.addressVO.city}} , {{element.addressVO.stateCd}} {{element.addressVO.zip}}
                          <div *ngIf="(element.addressVO.addrLine1 === ''
                          || element.addressVO.addrLine1 === undefined
                          || element.addressVO.addrLine1 === null )">---
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="example-element-description">
                          <mat-label>Mailing Address</mat-label>
                          <br>
                          {{element.addressVO.mailAddrLine1}} {{element.addressVO.mailAddrLine2}}
                          {{element.addressVO.mailCity}} {{element.addressVO.mailState}} {{element.addressVO.mailZip}}
                          <div *ngIf="(element.addressVO.mailAddrLine1 === ''
                          || element.addressVO.mailAddrLine1 === undefined
                          || element.addressVO.mailAddrLine1 === null )">---
                          </div>

                        </div>
                      </td>
                      <td>
                        <button mat-flat-button color="primary" class="perlss-click-button-white" (click)="addListener();letsEnableNext();">SELECT THIS PERSON
                          <mat-icon>
                            offline_pin</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="refSearchPerson"></tr>
            <tr mat-row *matRowDef="let element; columns: refSearchPerson;" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>

        </div>

        <ng-container *ngIf="alreadyEnrolledSw">
          <div class="already-enrolled-container">
            <p>
                Based on the information provided, you cannot continue with submitting this referral. This person is
                already
                enrolled in an LTSS program. Please initiate transitions in the Transition module.
            </p>
          </div>
        </ng-container>
      </div>
      <br>
      <div class="addIndividualContainer" *ngIf="!isSearchPerson && exactMatchSwitch">
        <p>Based on the information provided, there was no match for the person in PERLSS.</p>

        <p>If you want to add this person as a new individual, click "Add Individual" button below and click "Next".</p>

        <button mat-flat-button color="primary" class="perlss-click-button-white" id="addIndiv" (click)="addListener();letsEnableNext();">ADD INDIVIDUAL <mat-icon>
            offline_pin</mat-icon></button>

      </div>

    </div>
    <div class="buttonBar">
      <button mat-flat-button type="button" class="perlss-click-button-white" (click)="back()">BACK</button>
      <button *ngIf="enableNext" mat-flat-button color="primary" (click)="savePaeApplicant()"
        class="perlss-click-button">NEXT</button>
        <mat-spinner *ngIf="showSpinner" id="chkMargin" [diameter]="24" color="warn" mode="indeterminate"></mat-spinner>
      <!-- <button *ngIf="!enableNext" mat-flat-button disabled class="perlss-click-button-disabled">NEXT</button> -->

    </div>
  </form>
</div>
