<div class="note-wrapper">
    <div class="header-row">
        <div>
            <p style="color: #1B365D; font-size: 25px; font-weight: bold;">Upload Documents</p>
       </div>
        <div>
            <span class="close-icon" style="cursor: pointer;">
                <mat-icon (click)=closeDialog()>highlight_off</mat-icon>
            </span>
       </div>
    </div>
    <mat-divider class="perlss-section-divider"></mat-divider>

    <div class="form">
            <div class="table-header-content">
                <table aria-describedby="Applicant" style="width: 100%;">
                    <tr *ngIf="data?.applicantName" class="d-flex">
                        <th id="applicantName" class="col-5"><strong>Applicant Name:</strong></th>
                        <td class="col-7">{{data?.applicantName}}</td>
                    </tr>
                    <tr *ngIf="data?.aplId" class="d-flex">
                        <td class="col-5"><strong>Appeal ID:</strong></td>
                        <td class="col-7">{{data?.aplId}}</td>
                    </tr>
                    <tr *ngIf="data?.refId" class="d-flex">
                        <td class="col-5"><strong>Referral ID</strong></td>
                        <td class="col-7">{{data?.refId}}</td>
                    </tr>
                    <tr *ngIf="data?.paeId" class="d-flex">
                        <td class="col-5"><strong>PAE ID:</strong></td>
                        <td class="col-7">{{data?.paeId}}</td>
                    </tr>
                </table>
            </div>
            <form  #documentUploadForm="ngForm" (ngSubmit)="uploadFile()" novalidate>
            <div class="padded">
                <div>
                    <span class="upload-document-heading">
                        <mat-label class="required-color">*</mat-label>
                        <span class="upload-document-number"> 1.</span>
                        Select Document Type
                    </span>
                </div>
                <div *ngIf="ready && !showPreselected">
                    <div class="label-black">Please select all the applicable categories.</div>
                    <div>
                        <ng-multiselect-dropdown name="documentList" #documentList="ngModel" [placeholder]="'Select Document Type(s)'" [settings]="documentSettings"
                            [data]="documentsList" [(ngModel)]="selectedDocuments" required>
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <ng-container *ngIf="ready && showPreselected">
                    <p>Document to Upload: <span class="document">{{preselectedDocument.value}}</span></p>
                </ng-container>
                <div *ngIf="(isSubmitted && selectedDocuments?.length === 0)" style="color: red; margin-bottom: 20px; margin-left: 22px;">
                        This field is mandatory.
                </div>
                <mat-divider style="margin-top: 25px;"></mat-divider>
                <div style="padding-top: 15px;">
                    <span class="upload-document-heading">
                        <mat-label class="required-color">*</mat-label>
                        <span class="upload-document-number"> 2.</span>
                        Document Description
                    </span>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline" style="width: 100%; margin-left: 15px; margin-right: 15px; margin-bottom: 15px;" [hideRequiredMarker]="true">
                        <mat-label>
                            <mat-label class="required-color" style="margin-left: 15px;">*</mat-label>
                            Document Description
                        </mat-label>
                        <textarea (keyup)="docValidate()" name="docDescription"  #docDescription="ngModel" [(ngModel)]="docDesc"
                             matInput maxlength="2000" rows="2" placeholder="" required></textarea>
                        <mat-hint align="end">{{docDesc ? docDesc.length : 0}}/2000</mat-hint>
                    </mat-form-field>
                </div>

              <div *ngIf="isSubmitted && docDescription.errors?.required" style="color: red; margin-bottom: 20px; margin-left: 22px; margin-top: -35px;">
                This field is mandatory.
              </div>
                <div *ngIf="isRegError" style="color: red; margin-bottom: 20px;">
                    This field does not support special characters.
                </div>
                <mat-divider></mat-divider>
                <div style="padding-top: 15px;">
                    <span class="upload-document-heading">
                        <mat-label class="required-color">*</mat-label>
                        <span class="upload-document-number"> 3.</span>
                        Upload Document
                    </span>
                </div>
                <p class="label-black">Please upload all the documents that are applicable to the selected type.</p>
                <div class="fileDropContainer">
                    <span class="circle"><mat-icon class="file_upload">cloud_upload</mat-icon></span>
                    <div class="label-black" style="margin-top: 25px;">Drag and Drop Files Here</div>
                    <div class="smallLabel">(Maximum File Size is 30 MB)</div>
                    <div *ngIf="fileError" class="file-error">{{fileText}}</div>
                    <button mat-flat-button class="uploadButton">Browse<input type="file"
                            accept=".tiff,.tif,.bmp,.jpeg,.pdf,.xlsx,.docx,.jpg" #fileDropRef id="fileDropRef"
                            (change)="fileBrowseHandler($event.target.files)" multiple /></button>
                    <div class="bottomText">
                        Acceptable document formats:<br>*.tiff, *.tif, *.bmp, *.jpeg, *.pdf, *.xlsx, *.docx
                    </div>
                </div>
              <div *ngIf="isSubmitted && files?.length === 0" style="color: red; margin-bottom: 20px;">
                This field is mandatory.
              </div>

                <div *ngIf="showFiles">
                    <div class="cloud-icon-wrapper" *ngFor="let file of files">
                        <span>
                            <mat-icon class="note-icon">description</mat-icon>
                        </span>
                          <span class="size">
                            {{ file.name }} {{ file.size / 1048576 | number : '1.2-2'}} MB
                        </span>
                          <span class="delete-icons" (click)="showDeleteConfirmDialog(file)">
                            <mat-icon class="note-icon">delete_forever</mat-icon>
                        </span>

                    </div>
                </div>
            </div>
            <div style="margin-top: 10px; margin-left: 42%; margin-bottom: 10px;">
                <button type="submit" style="color: white; border: 1px solid #ed6053 !important; background-color: #ed6053;"
                    mat-flat-button color="primary" class="upload-Button">
                    UPLOAD
                </button>
            </div>
        </form>
    </div>
</div>
