<div class="pageMargin">
  <br>
  <mat-label class="sub-heading">Submit Referral</mat-label>
  <div class="required">*Required</div>
  <br>
	<br>
  <mat-card class="cardStyle"> <strong>Note: &nbsp;</strong><span>
    "You" in the application is the person who wants services. <br>
    <span class="push-right-note">
      <mat-icon class="red-icon">info_outline</mat-icon>This is a tool tip icon used
      across the application for short descriptions.
   </span> </span>
</mat-card>
  <br><br>
  <form [formGroup]="refSubmissionForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>
            <mat-label class="required-color">*</mat-label>Who is submitting this referral form?
          </mat-label>
          <mat-select formControlName="whoIsSubmittingCd" (selectionChange)="onSelect($event)">
            <mat-option *ngFor="let s of submitterType" [value]="s.code">{{s.value}}</mat-option>
            
          </mat-select>
          <mat-error *ngIf="f.whoIsSubmittingCd.errors">
            <mat-error *ngIf="f.whoIsSubmittingCd.errors.required && (f.whoIsSubmittingCd.touched || submitted)">{{customValidation.A1}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row" *ngIf="refSubmissionForm.get('whoIsSubmittingCd').value === 'FM' 
                            || refSubmissionForm.get('whoIsSubmittingCd').value === 'OTH' ">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>
            <mat-label class="required-color">*</mat-label>Relationship
          </mat-label>
          <mat-select formControlName="relationshipCd" aria-placeholder="Select an option">
            <mat-option *ngFor="let r of relation" [value]="r.code">{{r.value}}</mat-option>
          
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row"
      *ngIf="refSubmissionForm.get('whoIsSubmittingCd').value === 'MCO'
    || refSubmissionForm.get('whoIsSubmittingCd').value === 'DI' || refSubmissionForm.get('whoIsSubmittingCd').value === 'APS'">
      <div class="col-md-6">
        <div class="row" style="margin-left: 5px;">
          <label id="example-radio-group-label"><strong><label style="color:#ED6053">*</label>Would you like to
              expedite the review process?</strong></label>
        </div>
        <div class="row">
          <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="expeditedReviewSw">
            <div class="row" style="margin-left: 15px;">
              <mat-radio-button value="Y">Yes</mat-radio-button>
            </div>
            <div class="row" style="margin-left: 15px;">
              <mat-radio-button value="N">No</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="row"
      *ngIf="refSubmissionForm.get('whoIsSubmittingCd').value === 'MCO' && livingArrangementType === 'RMH'">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>
            <mat-label class="required-color">*</mat-label>Date Of Admission
          </mat-label>
          <input matInput [matDatepicker]="dateOfAdmissionpicker" formControlName="admissionDt" [min]="minDate" >
          <mat-datepicker-toggle matSuffix [for]="dateOfAdmissionpicker"></mat-datepicker-toggle>
          <mat-datepicker [startAt]="startDate" #dateOfAdmissionpicker></mat-datepicker>
          
        </mat-form-field>
        <mat-error *ngIf="getFormData().admissionDt.errors != null">
          <span
            *ngIf="refSubmissionForm.get('admissionDt').hasError('required') && (getFormData().admissionDt.touched || submitted)">{{customValidation.A1}}</span>
          <span *ngIf="getFormData().admissionDt.errors.matDatepickerMin">{{customValidation.A6}}</span>
        </mat-error>
     
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>
            <mat-label class="required-color">*</mat-label>Planned Transition Date
          </mat-label>
          <input matInput [matDatepicker]="transitionDatePicker" formControlName="planTrnstnDt"  [min]="today" (focusout)="onFocusOutEvent($event)">
          <mat-datepicker-toggle matSuffix [for]="transitionDatePicker"></mat-datepicker-toggle>
          <mat-datepicker [startAt]="startDate" #transitionDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="getFormData().planTrnstnDt.errors != null">
          <span
            *ngIf="refSubmissionForm.get('planTrnstnDt').hasError('required') && (getFormData().planTrnstnDt.touched || submitted)">{{customValidation.A1}}</span>
          <!-- <span *ngIf="getFormData().planTrnstnDt.errors.matDatepickerMax">{{customValidation.A54}}</span> -->
        </mat-error>

        <mat-error *ngIf="refSubmissionForm.get('planTrnstnDt').errors?.matDatepickerMin">
          The date cannot be in the past.
        </mat-error>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>
            <mat-label class="required-color">*</mat-label>Who should we contact about this referral?
          </mat-label>
          <mat-select formControlName="refContactCd" (selectionChange)="onContactPersonSelect($event)">
            <mat-option value="OTH">Other</mat-option>
            <mat-option value="SE">Self</mat-option>
          </mat-select>
          <mat-error *ngIf="f.refContactCd.errors">
            <mat-error *ngIf="f.refContactCd.errors.required && (f.refContactCd.touched || submitted)">{{customValidation.A1}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div class="row">
        <div *ngIf="refSubmissionForm.get('refContactCd').value === 'OTH'" class="col-md-6">
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>
              <mat-label class="required-color">*</mat-label>Name of the person
            </mat-label>
            <input matInput formControlName="refContactName" placeholder="Referral Contact Name"  maxlength="45"
              [ngClass]="{ 'is-invalid': f.refContactName.touched && f.refContactName.errors }"
              >
            <mat-error *ngIf="f.refContactName.errors">
              <mat-error *ngIf="f.refContactName.touched && f.refContactName.errors.required">{{customValidation.A1}}</mat-error>
              <mat-error  *ngIf="f.refContactName.errors?.invalidName && !f.refContactName.errors.required">
                {{customValidation.A2}}</mat-error>
            </mat-error>
          </mat-form-field>
          
        </div>
        <div class="col-md-6">
          <mat-form-field *ngIf="refSubmissionForm.get('refContactCd').value === 'OTH'" appearance="outline"
            style="width: 90%;">
            <mat-label>
              <mat-label class="required-color">*</mat-label>Relationship
            </mat-label>
            <mat-select formControlName="othRelationshipCd" aria-placeholder="Select an option">
              <mat-option *ngFor="let r of relation" [value]="r.code">{{r.value}}</mat-option>
            
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="refSubmissionForm.get('refContactCd').value === 'OTH'">

        <div class="col-md-6" >
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>Email Address </mat-label>
            <input matInput formControlName="email" placeholder="Email Address">
            <mat-error *ngIf="f.email.errors?.invalidEmail"> {{customValidation.A9}} </mat-error>

          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>
              <mat-label class="required-color">*</mat-label>Phone Number
            </mat-label>
            <input matInput formControlName="phNum" placeholder="xxx-xxx-xxxx" mask="000-000-0000"
              [ngClass]="{ 'is-invalid': f.phNum.touched && f.phNum.errors }">
            <mat-error *ngIf="f.phNum.errors">
              <mat-error *ngIf="f.phNum.touched && f.phNum.errors.required">{{customValidation.A1}}</mat-error>
              <mat-error
                *ngIf="f.phNum.errors.maxLength == null && !f.phNum.errors?.invalidPhone && !f.phNum.errors.required">
                Cannot be less than 10 characters</mat-error>
              <mat-error *ngIf="f.phNum.errors?.invalidPhone && !f.phNum.errors.required">{{customValidation.A8}}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <br><br>
    <mat-label class="page-sub-heading">Electronic Signature</mat-label>
    <br>
		<br>
    <div class="row" style="padding-top:20px;">
      <div class="col-md-12">
        <mat-label><strong>Please read the statement below and sign that you understand.</strong></mat-label>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <mat-label>I have been truthful in filling out this form. I understand this form may be used to help me (or
          the person I am helping) apply for Medicaid benefits in the Employment and Community First CHOICES program.
          I also understand that giving false information on purpose that helps someone get Medicaid benefits they
          don’t qualify for is an act of fraud under state and federal law. I could be fined or sent to jail.
        </mat-label>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <mat-label><strong>
            <mat-label class="required-color">*</mat-label>I have read and understand the statement above. I agree to
            submit this application by electronic means.
            By typing my name below and signing this application electronically, I understand that an electronic
            signature has the same legal effect and can be enforced in the same ways as a written signature.
          </strong></mat-label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label></mat-label>
          <input matInput formControlName="signature">
          <mat-error *ngIf="f.signature.errors">
            <mat-error *ngIf="(f.signature.touched || submitted) && f.signature.errors.required">{{customValidation.A1}}</mat-error>
            <mat-error  *ngIf="f.signature.errors?.invalidName && !f.signature.errors.required">
              {{customValidation.A2}}</mat-error>
          </mat-error>
         
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-left: 2px; padding-top: 10px;margin-bottom: 50px;">
      <div class="col-md-6" style="text-align: left;">
        <button mat-flat-button color="primary" style="font-size: 20px; padding: 5px 30px;" (click)="back()"
          class="perlss-click-button-white chkW">BACK</button>
      </div>
      <div class="col-md-6" style="text-align: right;">
        <button  *ngIf="enableNext" mat-flat-button color="primary" style="font-size: 20px;  padding: 5px 30px;" (click)="next()"
          class="perlss-click-button chkW">NEXT</button>
          <mat-spinner *ngIf="showSpinner" class="chkMargin" [diameter]="24" color="warn" mode="indeterminate"></mat-spinner>

      </div>
    </div>

  </form>
</div>