
// ::ng-deep .mat-tooltip  {
//   white-space: pre-line !important;
//   overflow-x: visible;
//   overflow-y: auto;
// }
.mattoolip-icon{
color: red;
text-indent: 4px;
}

.mat-icon{
 margin-top: 0 !important;
}
