.accordian-content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.update-button{
    padding-top: 50px;
}

.update-dropdown{
    padding-top: 25px;
    padding-left: 0;
}

.required-color {
    color: #f44336;
}

div > .mat-form-field {
    width: 100%;
  }
