.alert-container-note{
    margin-top: 36px;
    padding: 36px;
    border: 2px solid #81b889;
  
  }
  .alert-container{
    margin-top: 36px;
    padding: 36px;
    border: 2px solid #ddc5c3;
  
  }
  .checkbox{
    margin-top: 38px;
  }
  .margin{
    margin-top: 1vw;
    margin-left: -67px;
  }
  button.submit[disabled]{
    background-color: #cccccc !important;
}