<div class="flex-container">
  <div class="col">
    <mat-icon class="popup-icon help ico-hov">help_outline</mat-icon>
    <div class="heading_text">Help</div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="col" (click)="openForms()">
    <mat-icon class="popup-icon forms ico-hov">library_books</mat-icon>
    <div class="heading_text">Forms</div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="col" (click)="openContact()">
    <mat-icon class="popup-icon contact ico-hov" >call</mat-icon>
    <div class="heading_text" >Contact Us</div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="col" (click)="openAnalytics()">
    <mat-icon class="popup-icon workflow ico-hov">wrap_text</mat-icon>
    <div class="heading_text">Workflow Analytics</div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="col" (click)="openFaq()">
    <mat-icon class="popup-icon faqs ico-hov">announcement</mat-icon>
    <div class="heading_text">FAQs</div>
  </div>
</div>