


.choicesGroup1AndHcbs, .icfCac,.paceProgram, .ecfChoices{
  border-radius: 13.5px;
  background: white;
  height: 99px;
  margin-left: 36px;

  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 1vm;
  .row{
    padding: 18px;
    height: 99px;
    .content{
      display:flex;
      align-items: center;
      font-size: 16.5px;
      font-weight:400;
      line-height: 16px;
      padding-left: 43px;
    }

    .col-md-3{
      mat-icon{
         font-size:  63px;
         background-color: #1B365C;
         color: WHITE;
      }
    }
  }
}

@media (min-width: 1800px) {
  .choicesGroup1AndHcbs,.choicesGroup1AndHcbsSelected, .icfCac, .icfCacSelected,
  .paceProgramSelected, .ecfChoicesSelected,.paceProgram, .ecfChoices {
      // height: 63px;
      .row{
        .col-md-2{
          text-align: left;
          mat-icon{
             font-size: 36px;
          }
        }
      }
    }
}
.enrollmentNoteContainer{
  height: 100%;
  font-family: 'Open Sans';
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1.5px solid #FFA799;
  padding-bottom: 6px;
  strong{
    color: #ff563a;
  }
}


.page-header-container{
  .row{
    .col-md-4{

    text-align: center;
    max-width: 100%;
    width: 100%;
    }
  }
}

.applicant-name-container{
    padding: 18px;
    margin-left:5vm;
    vertical-align: middle;
    justify-content: center;
    font-size:  20px;
    border: 2px solid;
    border-color: #4D7E20;
}


.button-container{
  padding-top: 5vh;
  .row{
    .col-md-2{
      text-align: left;
    }
    .col-md-4{
      text-align: left;
    }
    .col-md-6{
      text-align: right;
    }
    .perlss-click-button, .perlss-click-button-white-noborder, .perlss-click-button-white{
      font-size: 25px !important;
    }
  }
}

.choicesGroup1AndHcbsSelected,.icfCacSelected, .paceProgramSelected, .ecfChoicesSelected{
  border-radius: 13.5px;
  background: #1B365C;
  height: auto;
  margin-left: 36px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
.row{
    padding: 18px;
    height: 99px;
   .content{
      color: white;
display: flex;
    align-items: center;
    font-size: 21.5px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 45px;
    }
    .col-md-2{
      mat-icon{
         font-size: 32.5px;
         background-color: #1B365C;
         color: WHITE;

      }
    }
  }
}
.choicesGroup1AndHcbs{
  border: 1.5px solid #a35252;
}

.icfCac {
  border: 1.5px solid #eb4d3e;
}

.paceProgram {
  border: 1.5px solid #6f923d;
}

.ecfChoices{
  border: 1.5px solid #ed9821;
}

.group-container {
  padding-top: 18px;
  padding-bottom: 18px;
}
