table tr:last-child td {
    border-bottom: 1px solid #1B365D;
}

table {
    border: 1px solid #1B365D;
}

td {
    border-bottom: 1px solid #1B365D;
}

.button-color {
    background-color: #1B365D;
}

.search-filter {
    float: right;
    width: 50%;
}

.sub-heading-records {
    color: #174A7C;
    font-size: 16px;
    margin-bottom: 10px;
}