.expansionPanel {
  background: aliceblue;
 }

 .innerContainer {
  margin-left: 36px;
 }

 .required-color {
  color: #ed6053;
  padding-right: 5px;
}

.validateBtn {
  margin: 36px 0 !important;
}

.extraPadding {
  padding: 10px 0 0 0;
}

#chkMargin{
  margin-left: 45vw;
}

#spinnerStyle{
  margin-left: 70vw;
}

.perlss-click-button-blue
{
  width: 100%; 
  font-size: 25px;
  margin: 0.5px 0.5px;
}
