::ng-deep .mat-expansion-panel-body {
 background-color: white;
}

::ng-deep .mat-expansion-indicator {
 margin-bottom: 3px;
}

::ng-deep .mat-option-text {
 overflow: auto;
 text-overflow: unset;
}

.expansionHeader {
 margin: 0 36px;
 font-weight: bold;
}

.expansionPanel {
 background: #f9f9f9;
}

.dropDown {
 margin-top: 36px !important;
 width: 252px;
}

.dropDownLong {
 margin-top: 36px !important;
 width: 540px;
}

.required-color {
 color: #ed6053;
}

.radio-container {
 margin-top: 18px;
}

.commentsContainer {
 margin-top: 36px;
 width: 70%;
}

.textContainer {
 margin-top: 18px;
}

.innerContainer {
 margin-left: 36px;
}

.expansionDetails {
 color: #04537D;
 font-weight: bold;
}

.recordsHeader {
 border: 1px solid #225282 !important;
 width: 1200px;
 margin-top: 18px;
}

.recordsContent {
 border: 1px solid #225282 !important;
 width: 1200px;
 border-top: none !important;
}

.headerContainer {
 padding-top: 18px;
 padding-bottom: 18px;
}

.extraMargin {
 margin-left: 90px;
}

#locCalc {
 margin-top: 36px;
 font-size: 17px;
}

#mtLabel {
 font-size: 13px;
}

#labelContainer {
 margin-top: 18px; 
 padding: 15px; 
 background: aliceblue;
}

#suppDoc {
 margin-left: 36px; 
 font-family: Open Sans; 
 font-weight: bolder; 
}

#search {
 margin-left: 36px;
 margin-right: 5px;
 color: #f44336;
}

#fullName {
 margin-left: 216px;
 font-family: Open Sans; 
 font-weight: bolder; 
 color: #225282;
}

#relationship {
 margin-left:  396px;
 font-family: Open Sans; 
 font-weight: bolder; 
 color: #225282;
}

#questnOptions {
 margin: 36px 0 0  -18px;
}

.labelContainer {
 margin-top: 18px; 
 padding: 15px; 
 background: aliceblue;
}

.checkAlign *{
  display: inline-block;
}

.labelWidth {
  width: 180px !important;
}

.itemStyle {
  width: 0 !important; 
  background: none !important;
}

.itemStyle2 {
  width: 90px !important; 
  background: none !important;
}



