.wrapper-two{
    display: flex;
}
.wrapper-one{
    width: 80%;
    margin: 0 0 10px 0;
}
button{
    width: 160px;
    margin: 5px 10px;
}
.side-buttons{
    display: flex; 
    flex-direction: column;
}
.table-div{
    width: 100%;
}
.due-date{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

table tr:last-child td {
    border-bottom: 1px solid #1B365D;
}
th{
    width: 90%;
    background-color: #CDDDF4;
    font-size: 14px;
    font-weight: bold;
    color: #04537D;
    
}
.header-heading{
        color: #4D7E20;
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 15px;
}
.module-name{
    font-size: 14px;
    font-weight: bold;
}
td{
    font-size: 14px;
  }

  button{
      background-color: #eaeff7;
  }
  tr:hover{
      cursor: pointer;
      background-color: #eaeff7;
  }
  .right-icon{
    position: relative;
}
.material-icons{
    position: absolute;
    color: #04537D;
    top: 9px;
    font-size: 28px;
}
.custom-button{
  background-color: #174A7C;
  color: white;
}