@import '../../../../colors.scss';

.required-color {
  color: #EE3524;
}

.smallLabel {
  font-size: 12px;
}

.bottomText {
  font-size: small;
  padding-top: 30px;
  margin-bottom: 25px;
}
  
.uploadButton {
  margin-top: 25px;
  background-color: white;
  color: #ed6053;
  border: 1px solid #ed6053 !important;
}

.fileDropContainer {
  text-align: center;
  margin-top: 10px;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
}

.file_upload {
  transform: scale(2);
  margin-bottom: 20px;
}

#fileDropRef {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.label-decoration {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.save {
  background-color:#ED9924;
  color: white;
  font-weight: bold;
  height: 30px;
  width: 100px;
  border: none;
}

.cancel {
  background-color: white;
  height: 30px;
  color: #174A7C;
  border: none;
  width: 100px;
  font-weight: bold;
}

::ng-deep mat-panel-description.mat-expansion-panel-header-description {
  flex-grow: 0;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
  background: white !important ;
  border: 1px solid black !important;
  color: black !important;
  border-radius: 9px !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item a{
  color: black !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn {
  border: 1px solid black !important;
}

.files-list {
  margin-top: 15px;
}

div > .mat-form-field {
  width: 100%;
}