.perlss_page_content {
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  overflow: hidden;
}

.spacing {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.perlss-section-divider {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}
.side-application{ 
  padding-bottom: 20px; 
  padding-right: 20px
}