<div class="responsive">
    <div class="form">
      <div class="scroller">
        <app-change-management-common  mode="addServiceDischarge">
          <div>
            <form [formGroup]="myForm">
              <div>
                <div >
                  <button class="panelButtons" mat-flat-button color="primary" class="perlss-click-button" (click)="save()">PROCEED TO PAE</button>
                </div>
              </div>
            </form>
          </div>
        </app-change-management-common>
      </div>
    </div>
  </div>