
.alert-container-note{
    margin-top: 36px;
    padding: 36px;
    border: 2px solid #81b889;
  
  }
  .alert-container{
    margin-top: 36px;
    padding: 36px;
    border: 2px solid #ddc5c3;
  
  }
  .margin{
    margin-top: 55px;
  }
  .marginT{
    margin-top: 82px;
  }
  .linkT{
    color: #174a7c i !important;
    text-decoration: underline;
    cursor: pointer;
  }