
.header {
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding:  18px;
    padding-bottom: 6px;
    border-bottom: 1px solid gray;
    h1{
      font-size: 24px;
    }
    mat-icon{
      cursor: pointer;
    }
  }
  .form{
    max-height: 80vh;
    overflow: auto;
    padding: 0 25px 25px 25px;
    .validation-message span{
        padding: 15px 0;
        font-weight: bold;
        display: block;
    }
  } 
  .mat-button-disabled{
    opacity: 0.3;
  }  
  ::ng-deep .mat-dialog-container {
    padding:  0;
    border: 1px solid blue;
  }