.wrapper{
    width: 90%;
    margin: auto;
}

.header-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #547e1a;
}

.header{
    font-size: 30px;
    font-weight: bold;
    color: #174A7C;
}

.required-tag, .required{
    color: red;
}

.buttons{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    button{
        width: 10%;
    }
}

.disable-button{
    opacity: 0.2;
}
