.popup-header-container{
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 10px;
}

.mat-dialog-container {
  padding: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-radius: 7px;
  border: 2px solid #225282;
}

.popup-close-icon{
  transform: scale(1.5);
  cursor: pointer;
  color: #8b99ac;
}

.note-container{
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: #f5f9fe;
  padding-left: 45px;
  padding-right: 45px;
}

.form-container{
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 45px;
  padding-right: 45px;
}

.required-class{
  color: #ed6053;
}

.question-container{
  padding-top: 36px;
}

.radio-container{
  padding-top: 3.5px;
  margin-left: 7px;
}

mat-form-field{
  width: 50%;
  background-color:#f5f9fe;
  .mat-form-field-wrapper{
    padding: 0;
  }
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-radius: 7px;
}

.perlss-back-button {
  color: #174A7C !important;
  border-radius : 0 !important;
  outline: auto;
  outline-color: #174A7C !important;
    width: 100px;
}

.perlss-save-button {
  color: #174A7C !important;
  border-radius : 0 !important;
}

.submit-button.mat-flat-button.mat-button-base.mat-primary {
  border-radius: 0 !important;
  background-color: #174A7C !important;
  width: 100px;
}
.seperator-mar{
  margin: 20px 0;
}
.seperator-mar-nonfebrile{
  margin: 100px;
}

.seizures-header {
    color: #4D7E20;
    font-size: 20px;
    font-weight: bold;
}
.applicant-name {
border: 1px solid grey;
height: 50px;
align-items: center;
display: flex;
padding: 12px;
font-weight: 600;
}
