$colorGreen: #06ac06;
$colorGrayBlue: #0d4377;
$colorGrayBlueLighter: #1d61a0;
$colorLightBlue: #6daae2;
$colorWhiteButtonHover:#c9dbec;
$colorGreenBright: #39df39;
$colorBlue: #4c90d3;
$colorBlack:rgb(0, 0, 0);
$colorDarkGray: #666666;
$colorBlueBright: #7fc3ff;
$colorOrange: #b96300;
$colorRed: #cc0000;
$colorLightGray: #CCCCCC;
$colorVeryLightGray: #dbdbdf;
$colorTableBorder: #cdddf4;
$colorMediumGray: #AAAAAA;
$colorOrangeBright: #ec9633;
$colorLightBlueGray: #F6FAFF;
$colorLightBlueGrayHover: #cddaf8;
$colorNoteBorder: #b7d3f8;
$colorControlBackground: #F6FAFF;
$colorRedBright: #ff3333;
$boxShadow: 3px 3px 5.5px #AAAAAA;
$colorGrayGreen: #81b889;
$colorDarkGrayGreen: #547e1a;
$colorDarkBlue: #0b0979;
$colorText: #3d3e40;
$colorTooltip: #c24e13;
$colorSelectedItem: #dce9f8;
$colorLightRedBright: #c02e21;
$colorLightRed: #ea5e52;
$colorNavy: rgb(4, 4, 65);
