.app-sub-heading {
  color: #174a7c;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 0 15px 0;
}
.enrollment-heading {
  font-weight: bold;
  color: black;
  font-size: small;
  margin-bottom: 10px;
}
.table-border {
  border-width: 2px;
  border-color: #659737;
  border-style: solid;
  margin-top: 10px;
  padding: 10px;
}
.text {
  text-decoration: underline;
  color: black;
  cursor: pointer;
  font-size: small;
  font-family: 'Open Sans';
}
.text-heading{
    color: black;
    font-size: small;
    font-family: 'Open Sans';
    line-height: 1.5;
}
